<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat joke!</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-body text-center">
                <h1 class="display-4 text-success">Here's a joke for you!</h1>
                <h4 class="text-primary"><%= joke %></h4>
                <h4 class="text-info">Cat pic with joke:</h4>
                <img src="<%= catPicture %>" alt="Random Cat Image" width="60%" height="60%">
                <br>
                <a href="/" class="btn btn-primary btn-lg mt-3">Get another joke</a>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>